body {
	font-family: 'Lato', sans-serif;
	background-color: #e08326;
}

span {
	color: #fff;
}

#title {
	color: #fff;
	font-weight: lighter;
	font-size: 4rem;
	margin-top: 4rem;
}

#wrap {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#xpbox {
	margin: 2rem 0px 2rem 0px;
	line-height: 4rem;
	color: #333;
}

#butten {
	background-color: #1c5996;
	color: #fff;
	line-height: calc (4rem - 4px);
}

#memes {
	width: calc(40% - 8px);
	border-radius: 10px;
	border: 4px solid #1c5996;
	margin: 2rem auto auto auto;
	color: #fff;
	background-color: #1c5996;
	vertical-align: center;
	padding: 20px 0px 20px 0px;
	line-height: 30px;
	font-size: 20px;
}

#xpbox, #butten {
	height: 4rem;
	width: 40%;
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	text-align: center;
	border-radius: 10px;
	border: 4px solid #1c5996;
	transition: 150ms ease-in-out all;
}

#xpbox:focus, #butten:hover {
	outline: none;
	border: 4px solid #5985b2;
	transition: 150ms ease-in-out all;
	border-radius: 18px;
}

#butten:hover {
	background-color: #5985b2;
}

#fish {
	height: 75px;
	margin-top: 3rem;
}